<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270772126819-0e4a3bd14ef3flo3ohk19ne4nrht3t43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270772126819-0e4a3bd14ef3flo3ohk19ne4nrht3t43</string>
	<key>API_KEY</key>
	<string>AIzaSyCLuccXauEF0to5VL7fnEEEOSdBZNMJFkg</string>
	<key>GCM_SENDER_ID</key>
	<string>270772126819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Personal.LightEcoPack</string>
	<key>PROJECT_ID</key>
	<string>lightecopack-3bd7f</string>
	<key>STORAGE_BUCKET</key>
	<string>lightecopack-3bd7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270772126819:ios:6d58dce469f9b509caa456</string>
</dict>
</plist>